<div class="container">
    <div class="todo-wrapper">
        <app-searchbar></app-searchbar>

        <div class="todo-list-wrapper"
            [style]="" 
        >
            <div class="todo-item"
                *ngFor="let todo of filteredTodos()"
                (mouseenter)="setToHovered(todo.id)"
                (mouseleave)="setToNotHovered(todo.id)"
                [class]="todo.completed ? 'itemNotChecked' : 'itemChecked'"
            >
            <input 
            *ngIf="selectedItemId == todo.id"
            type="checkbox" 
            name="todo-checkbox" 
            id="todo-checkbox"
            [disabled]="!isTodoItemHovered"
            (change)="onCheckboxChange($event, todo)"
            [checked]="todo.completed"
                >
                <div class="todo-content">
                    <p
                        [class.strikethrough]="todo.completed"
                    >{{ todo.text }}</p>
                    <svg 
                        (click)="deleteItem(todo.id)"
                        *ngIf="isTodoItemHovered && selectedItemId == todo.id" class="close-btn" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 0.8125C20.5688 0.8125 26.1875 6.43125 26.1875 13.5C26.1875 20.5688 20.5688 26.1875 13.5 26.1875C6.43125 26.1875 0.8125 20.5688 0.8125 13.5C0.8125 6.43125 6.43125 0.8125 13.5 0.8125ZM8.60625 19.8438L13.5 14.95L18.3937 19.8438L19.8438 18.3937L14.95 13.5L19.8438 8.60625L18.3937 7.15625L13.5 12.05L8.60625 7.15625L7.15625 8.60625L12.05 13.5L7.15625 18.3937L8.60625 19.8438Z" fill="#747474"/>
                    </svg>
                </div>   
            </div>
        </div>

        <div class="filter-and-add-item-container">
            <div class="filter-wrapper">
                <div class="title">
                    <p>Filter</p>
                    <p></p>
                </div>
                <div class="filter-options">
                    <span>All</span>
                    <span>Completed</span>
                    <span>In Progress</span>
                </div>
            </div>

            <div class="add-item-wrapper">
                <textarea 
                    #myTextArea
                    (input)="getTodoItem($event)"
                    name="add-item-area" 
                    id="add-item-area"
                ></textarea>
                <div class="plus-btn-wrapper" (click)="addItem(myTextArea)">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 2.5V23.5M2.5 13H23.5" stroke="white" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>    
                </div>
            </div>
        </div>

    </div>
</div>
