@import '../../styles/variables.scss';
@import '../../styles/typography';
@import '../../styles/customCheckbox';

.container {
    width: 100%;
    height: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.todo-wrapper {
    width: 719px;
}

.todo-list-wrapper {
    width: 100%;
    padding: 0 29px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



// checkbox styles

.showCheckbox {
    width: 100%;
    height: 67.22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $search-btn-bg;
    border-radius: 28px;
    border: $todo-item-border;
    padding: 0 25px;
    position: relative;

    & .todo-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            @include textFontStyle;
        }

        & svg.close-btn {
            width: 19.83px;
            height: 19.83px;
        }
    }

    input[type="checkbox"] {
        @include custom-checkbox;
        position: absolute;
        left: -15px;
        transition: $btn-transition;
    }
}

.notShowCheckbox {
    width: 100%;
    height: 67.22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $search-btn-bg;
    border-radius: 28px;
    border: $todo-item-border;
    padding: 0 25px;
    position: relative;

    & .todo-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & p {
            @include textFontStyle;
        }

        & svg.close-btn {
            width: 19.83px;
            height: 19.83px;
        }
    }
    
    input[type="checkbox"] {
        @include custom-checkbox-not-hovered;
        position: absolute;
        left: -15px;
        transition: $btn-transition;
    }
}