// UI theme colors
$white: #fff;
$primary-grey: #f3f3f3;
$text-grey: #747474;
$search-btn-bg: #ededed;
$border-color: #d9d9d9;

$filter-option-text-color: #888888;

$primary-purple: #A052FF;
$light-purple: #F9F4FF;
$light-grey: #FAFAFA;

$todo-item-border: 1px solid $border-color;
$checked-item-border: 1px solid $primary-purple;
$unchecked-item-border: 1px solid transparent;


// transition effects
$btn-transition: .3s ease;

// font family
$font-Inter: 'Inter', sans-serif;