@import '../../../../styles/variables';
@import '../../../../styles/typography';


// hide cancle icon for searh bar
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
  

#searchbar {
    width: 921px;
    height: 86px;
    border-radius: 99px;
    background: $primary-grey;
    outline: none;
    border: none;
    padding-left: 55px;
    @include textFontStyle;
}